.accordion {
    display: flex;
    flex-direction: column;

    &__item {
    }

    &__item-header {
    }

    &__item-btn {
        width: 100%;

        display: flex;

        margin: 0;
        padding: 0;

        border: 0;
        background: none;

        transition: color 0.1s linear;

        &.active {
            color: #0c63e4;
        }

        &.active::after {
            background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector' d='M19 9L12 16L5 9' stroke='%230c63e4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

            transform: rotate(-180deg);
        }

        &::after {
            content: '';
            display: block;

            flex-shrink: 0;
            width: 25px;
            height: 25px;

            margin-left: auto;

            background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector' d='M19 9L12 16L5 9' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 25px;

            transition: transform 0.2s ease-in-out;
        }
    }

    &__item-collapse {
        display: none;

        &.active {
            display: flex;
        }
    }
}
