.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    font-family: $family;

    border: 0;
    background: none;
    cursor: pointer;

    transition: 0.3s linear;

    &--md {
        padding: 20px 57px;

        font-size: 1.6rem;
        font-weight: 700;
        color: #fff;

        border-radius: 100px;
    }

    &--orange {
        background-color: $colors-highlight;

        &:hover {
            background-color: darken($colors-highlight, 15%);
        }
    }
}
