.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__group {
    }

    &__input {
        width: 100%;
        padding: 21px 21px;

        font-family: $family;
        font-size: 1.8rem;
        color: $colors-secondary;

        border: 0;
        border-radius: 5px;

        background-color: #ccc;

        &::placeholder {
            font-family: $family;
            font-size: 1.8rem;
            color: #515151;
        }
    }

    &__btn {
        margin: 0;

        border: 0;
        border-radius: 100px;
    }

    &--footer {
        .form__group {
            display: flex;
            align-items: stretch;
        }

        .form__input {
            width: 100%;
            max-width: 236px;
            height: 44px;

            padding: 14px 20px;

            font-size: 1.4rem;
            color: $colors-secondary;

            background-color: #fff;
            border-radius: 8px;
            outline: none;

            &::placeholder {
                font-size: 1.4rem;
                color: #989898;
            }
        }

        .form__btn {
            width: 100%;
            max-width: 57px;
            height: 44px;
            border-radius: 8px;
        }
    }
}
