.modal {
    position: absolute;
    left: 0;
    right: 0;

    z-index: 20;

    width: 100%;
    height: 100vh;
    padding: 10px;

    display: none;
    justify-content: center;
    align-items: center;

    overflow-y: auto;
    margin: auto 0;

    @media (max-width: $sm) {
        align-items: flex-start;
    }

    &.active {
        display: flex;
    }

    &__inner {
        position: relative;

        max-width: 860px;
        width: 100%;

        padding: 70px;

        background-color: #fff;

        border-radius: 10px;

        box-shadow: 0 0 58px rgba(#000, 0.05);

        margin: auto;
        overflow: auto;

        @media (max-width: $sm) {
            padding: 26px 14px 30px;
        }
    }

    &__close {
        position: absolute;
        top: 38px;
        right: 39px;

        margin: 0;
        padding: 0;

        border: 0;
        background: none;
        cursor: pointer;

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        @media (max-width: $sm) {
            top: 18px;
            right: 14px;

            width: 14px;
            height: 14px;
        }
    }

    &__header {
        margin-bottom: 13px;

        @media (max-width: $sm) {
            margin-bottom: 30px;
        }
    }

    &__title {
        margin-bottom: 8px;

        font-size: 2.6rem;
        font-weight: 600;
        line-height: 3.6rem;

        @media (max-width: $sm) {
            margin-bottom: 0;

            font-size: 2rem;
        }
    }

    &__subtitle {
        font-size: 1.8rem;
        line-height: 2.3rem;
        font-weight: 500;
        color: #989898;

        @media (max-width: $sm) {
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
    }
}
