<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top">
                <a href="#" class="logo footer__logo">
                    <img src="img/logo/logo-white.svg" alt="логотип" />
                </a>
                <div class="footer__col footer__col--socials">
                    <h6 class="footer__col-title">Оставайтесь на связи</h6>

                    <ul class="socials">
                        <li class="socials__item">
                            <a
                                href="https://vk.com/1ctehnolink"
                                class="socials__link"
                            >
                                <img src="img/icons/vk.svg" alt="вконтакте" />
                            </a>
                        </li>
                        <li class="socials__item">
                            <a
                                href="https://www.youtube.com/channel/UCjAP9K19qfVBkZ-8S3mBBBQ "
                                class="socials__link"
                            >
                                <img src="img/icons/yt.svg" alt="Youtube" />
                            </a>
                        </li>
                        <li class="socials__item">
                            <a
                                href="https://t.me/tehnolink1c "
                                class="socials__link"
                            >
                                <img src="img/icons/tg.svg" alt="Телеграм" />
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer__col footer__col--contacts">
                    <h6 class="footer__col-title">Контакты</h6>

                    <address>
                        <div class="footer__col-tel">
                            <div class="tel-wrapper">
                                <a href="tel:+73432887545"
                                    >+7 (343) 288-75-45</a
                                >
                            </div>

                            <div class="tel-wrapper">
                                <a href="tel:+73432887515"
                                    >+7 (343) 288-75-15</a
                                >
                                <span>(линия консультаций)</span>
                            </div>
                        </div>

                        <a href="mailto:1с@tlink.ru" class="mail">
                            1с@tlink.ru
                        </a>

                        <p class="address">
                            620041, г Екатеринбург, ул. Основинская, 10, оф.
                            1122
                        </p>
                    </address>
                </div>

                <div class="footer__col footer__col--form">
                    <h6 class="footer__col-title">Будьте всегда в курсе!</h6>

                    <form action="/" class="form form--footer">
                        <div class="form__group">
                            <input
                                type="email"
                                name="email"
                                class="form__input"
                                placeholder="Ваш e-mail"
                                required
                            />
                            <button
                                type="submit"
                                class="btn btn--orange form__btn"
                            >
                                <img src="img/icons/arrow-right.svg" alt="" />
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer__bottom">
                <a href="privacy-policy.html">Политика конфиденциальности</a>

                &copy; 2020-2023
            </div>
        </div>
    </div>
</footer>
