<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="index.html" class="logo header__logo">
                <picture>
                    <source
                        srcset="img/logo/logo-black.svg"
                        media="(max-width: 768px)"
                    />
                    <img src="img/logo/logo-white.svg" alt="логотип" />
                </picture>
            </a>

            <div class="header__content">
                <div class="header__contact-list">
                    <div class="header__contact-item">
                        <img
                            src="img/icons/tel.svg"
                            alt="телефон"
                            class="header__contact-item-icon"
                        />
                        <div class="header__contact-item-content">
                            <a href="tel:+73432887515">+7 (343) 288-75-15</a>
                            <span>линия консультаций</span>
                        </div>
                    </div>
                    <div class="header__contact-item">
                        <img
                            src="img/icons/mail.svg"
                            alt="почта"
                            class="header__contact-item-icon"
                        />
                        <div class="header__contact-item-content">
                            <a href="mailto:1c@tlink.ru">1c@tlink.ru</a>
                        </div>
                    </div>
                </div>

                <a href="https://tlink.ru/" class="btn header__btn"
                    >Перейти на основной сайт</a
                >
            </div>
        </div>
    </div>
</header>
