// colors
$colors-primary: #efeff1;
$colors-secondary: #4a4a4a;
$colors-highlight: #f67f29;
$colors-dark: #2e2e2f;

// typography
$family: 'Gilroy', sans-serif;

// media
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
